<div>
  {{#if test.isRunning}}
    {{> (template "app/_partials/_agent-test-window-test-running.html.hbs")}}
  {{/if}}
  {{#unless test.isRunning}}
    {{> (template "app/_partials/_agent-test-window-no-test.html.hbs")}}
  {{/unless}}
</div>
