<div>
  {{#if test.isRunning}}
    {{> "systems/heist/templates/app/_partials/_card-window-test-running.html.hbs"}}
  {{/if}}
  {{#unless test.isRunning}}
    {{> "systems/heist/templates/app/_partials/_card-window-no-test.html.hbs"}}
  {{/unless}}
</div>
