// Import utilities.
@import "utils/typography";
@import "utils/colors";
@import "utils/mixins";

/* Global styles */
@import "global/window";
@import "global/flex";
@import "global/utils";

/** Foundry overrides */
@import "foundry/overrides";

/* Styles limited to The Heist sheets */
.heist {
  --form-field-height: 60px;
  --font-primary: var(--f-masqualero), sans-serif;
  --color-shadow-primary: var(--c-brown-rust);
  --card-radius: 26px;

  @import "utils/reset";
  @import "components/common";

  @import "components/cards-display";
  @import "components/agent-test-window";
  @import "components/game-phase-window";

  // Actors
  @import "components/agent-sheet";
  @import "components/heist-sheet";
  @import "components/npc-sheet";

  // Items
  @import "components/skill-sheet";
  @import "components/fetish-sheet";
  @import "components/agent-type-sheet";
  @import "components/planning-sheet";
}
