// Import utilities.
@import "utils/typography";
@import "utils/colors";
@import "utils/mixins";

/* Global styles */
@import "global/window";
@import "global/grid";
@import "global/flex";

/** Foundry overrides */
@import "foundry/overrides";

/* Styles limited to The Heist sheets */
.heist {
  --form-field-height: 60px;
  --font-primary: "Masqualero", sans-serif;
  --color-shadow-primary: var(--c-brown-rust);
  --small-gap: 8px;
  --medium-gap: 12px;
  --big-gap: 16px;

  @import "components/common";

  @import "components/cards-display";
  @import "components/agent-test-window";
  @import "components/game-phase-window";
  @import "components/ask-test";

  // Actors
  @import "components/agent-sheet";
  @import "components/heist-sheet";

  // Items
  @import "components/skill-sheet";
  @import "components/fetish-sheet";
  @import "components/agent-type-sheet";
  @import "components/planning-sheet";
}
