<div class="agency-member agent-card-wrapper">
  <div class="agent-card flexcol">
    <div class="flexcol flex-group-center">
      <p><u>{{localize "HEIST.Global.AgentName"}}</u> <strong>N/A</strong></p>
    </div>
  </div>
</div>
