# IDE
.idea/
.vs/

# Node Modules
node_modules/
npm-debug.log

# Foundry
*.lock
jsconfig.json
foundry
assets/
packs/
!packs/translations
!packs/**/_source

###> yarn ###
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
###< yarn ###
