$c-white: #fff;
$c-black: #000;

$c-dark: #191813;
$c-tan: #444;

$c-shadow: #887758;
$c-buff: #f4ca84;

$c-manhattan: #f4bb97;
$c-brown-rust: #d7714f;
$c-rajah: #f8b286;

$c-red: #ff0000;
$c-old-brick: #991b1b;

$c-gable-green: #162a33;
$c-astronaut: #225274;
