@mixin goldy-gradient-bg {
  background-color: var(--c-shadow);
  background-image: linear-gradient(90deg, var(--c-shadow), var(--c-buff), var(--c-shadow));
}

@mixin goldy-gradient-text {
  @include goldy-gradient-bg;

  background-clip: text;
  color: transparent;

  max-width: max-content;

  border-bottom: none;
}

@mixin goldy-title {
  font-family: var(--f-masqualero-groove);
  border-bottom: none;
  @include goldy-gradient-text;
}

@mixin black-card-style {
  border: 1px solid var(--c-manhattan);
  border-radius: var(--small-gap);
  display: flex;
  flex: 0 0 100%;
  height: 100%;
  background: radial-gradient(circle, var(--c-tan) 0%, var(--c-black) 100%);
  box-shadow: -5px -5px 15px 0px var(--c-manhattan);
  padding: 0 2px;
}

@mixin magpies {
  &.magpie {
    margin: auto;
    width: 100px;
    height: 100px;

    &.reverse {
      transform: rotateX(180deg) rotateY(180deg);
    }

    img {
      border: none;
    }
  }
}

@mixin dark-transparency-bg {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

@mixin light-transparency-bg {
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
}

@mixin blue-box-bg {
  padding: var(--small-gap);
  background-color: var(--c-astronaut);
  color: var(--c-white);
  box-shadow: inset 0 0 0 2px var(--c-rajah);
  border: 4px solid transparent;
}

@mixin hn-styles {
  h1 {
    font-family: var(--f-bodega-sans);
    letter-spacing: 1px;
    color: var(--c-brown-rust);
    border-bottom: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  h2 {
    font-family: var(--f-bodega-sans);
    letter-spacing: 1px;
    color: var(--c-astronaut);
    border: none;
    width: fit-content;
    text-transform: uppercase;
    border-top: 1px solid var(--c-astronaut);
    border-bottom: 1px solid var(--c-astronaut);
  }

  h3 {
    font-family: var(--f-masqualero);
    font-weight: bold;
    border: none;
    color: var(--c-astronaut);
  }
}

@mixin boxes {
  .white-box {
    border: 2px solid var(--c-tan);
    padding: var(--small-gap);

    @include light-transparency-bg;
  }

  .blue-box {
    padding: var(--small-gap);

    @include blue-box-bg;

    h1 {
      color: var(--c-white);
      font-family: var(--f-masqualero-groove);
      font-weight: normal;
      text-align: center;
      border: none;
    }

    h2 {
      color: var(--c-white);
      font-family: var(--f-masqualero);
      margin: initial;
    }
  }

  .orange-box {
    color: var(--c-brown-rust);
    border-top: 2px solid var(--c-brown-rust);
    border-bottom: 2px solid var(--c-brown-rust);
  }
}
