@mixin goldy-gradient-bg {
  background-color: $c-shadow;
  background-image: linear-gradient(90deg, $c-shadow, $c-buff, $c-shadow);
}

@mixin goldy-gradient-text {
  @include goldy-gradient-bg;

  background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  max-width: max-content;

  border-bottom: none;
}
