input[type="text"], input[type="number"], input[type="password"], input[type="date"], input[type="time"], input[type="search"] {
  width: calc(100% - 2px);
  min-width: 20px;
  height: var(--form-field-height);
  background: rgba(0, 0, 0, 0.05);
  padding: 1px 3px;
  margin: 0;
  color: var(--color-dark-2);
  line-height: inherit;
  border: 1px solid var(--c-tan);
  border-radius: 3px;
  user-select: text;
  text-align: inherit;
}

input[type="checkbox"] {
  &::before {
    color: var(--color-dark-6);
    font-weight: normal;
  }
}

select {
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid var(--c-tan);
  color: var(--color-dark-2);
  border-radius: 3px;
  padding: 0 3px;
  text-overflow: ellipsis;
  font-family: inherit;
  font-size: inherit;
}

textarea {
  width: 100%;
  min-height: 50px;
  padding: 5px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  color: var(--color-dark-2);
  user-select: text;
}

.flexshrink {
  flex: 0;
}

.flexgrow {
  flex: 1;
}
