@font-face {
  font-family: "Masqualero Groove";
  src: url("../fonts/MasqualeroGroove-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Masqualero";
  src: url("../fonts/Masqualero-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bodega Sans";
  src: url("../fonts/BodegaSans-Light.otf") format("opentype");
}

:root {
  --f-masqualero-groove: "Masqualero Groove";
  --f-masqualero: "Masqualero";
  --f-bodega-sans: "Bodega Sans";

  --font-primary: var(--f-masqualero);
}
