@font-face {
  font-family: "Masqualero Groove";
  src: url("../fonts/MasqualeroGroove-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Masqualero";
  src: url("../fonts/Masqualero-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Masqualero";
  src: url("../fonts/Masqualero-Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Masqualero";
  src: url("../fonts/Masqualero-Italic.otf") format("opentype");
  font-style: italic;
}

@font-face {
  font-family: "Masqualero";
  src: url("../fonts/Masqualero-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Bodega Sans";
  src: url("../fonts/BodegaSans-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Bodega Sans";
  src: url("../fonts/BodegaSans-Black.otf") format("opentype");
  font-weight: bold;
}

:root {
  --f-masqualero-groove: "Masqualero Groove";
  --f-masqualero: "Masqualero";
  --f-bodega-sans: "Bodega Sans";

  --font-primary: var(--f-masqualero);

  --small-gap: 8px;
  --medium-gap: 12px;
  --big-gap: 16px;
}
