@font-face {
  font-family: "Masqualero Groove";
  src: url("../fonts/MasqualeroGroove-Regular.otf") format("opentype");
}

$masqualero-groove: "Masqualero Groove";
$font-primary: sans-serif;
$font-secondary: sans-serif;
