#compendium-heist\.agent-types {
  .directory .directory-item img {
    object-fit: contain;
  }
}

.chat-message {
  border: 2px solid var(--c-tan);

  @include hn-styles;
  @include light-transparency-bg;
}

.journal-sheet, .adventure {
  @include hn-styles;
  @include boxes;

  h1 {
    text-align: center;
  }

  h2 {
    margin: auto;
  }

  .journal-entry-content, .editor.prosemirror {
    background-color: var(--c-white) !important;
    background-image: none !important;

    .journal-page-header {
      h1 {
        @include goldy-title;

        margin: auto;
        font-weight: normal;
      }
    }

    ol {
      li::marker {
        font-weight: bold;
      }
    }

    .npc-portrait-wrapper {
      filter: drop-shadow(0 0 15px var(--c-black));

      .npc-portrait {
        margin: var(--small-gap) auto;
        background: var(--c-rajah);
        border: 5px solid var(--c-rajah);
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        width: fit-content;

        img {
          width: 200px;
          height: 200px;
          margin: auto;
          object-fit: cover;
          clip-path: inherit;
          vertical-align: middle;
        }
      }
    }
  }
}
