.u-mt-small {
  margin-top: var(--small-gap);
}

.u-ml-small {
  margin-left: var(--small-gap);
}

.u-mr-small {
  margin-right: var(--small-gap);
}

.u-mtb-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.u-m-auto {
  margin: auto;
}

.u-gap-small {
  gap: var(--small-gap);
}

.u-strike {
  text-decoration: line-through;
}

.u-no-border {
  border: none;
}
