.window-app {
  font-family: var(--font-primary);

  .main-title {
    @include goldy-gradient-text;
    font-family: $f-masqualero-groove;
  }

  .sub-title {
    @include goldy-gradient-text;
  }
}

.openable {
  cursor: pointer;
}

#interface {
  background: url("../images/background.webp") center no-repeat;

  #logo {
    content: url("../images/logos/full.webp");
    min-height: 65px;
  }
}

#pause img {
  content: url("../images/logos/mini.webp");

  animation-name: fa-beat-fade;
  --fa-animation-duration: 2s;
}
