<h3>{{localize "HEIST.Blackjack.Label"}}</h3>

<ul>
  {{#each recalls}}
    {{#if this.show}}
      <li>
        {{#if this.tested}}
          {{localize "HEIST.Cards.RecallHand" name=this.agent}}
        {{else}}
          {{localize "HEIST.Cards.RecallFromPile" name=this.agent number=this.number}}
        {{/if}}
      </li>
    {{/if}}
  {{/each}}
</ul>
