&.agent-test-window {
  .window-content {
    background: url("../images/ui/blueprint-h.webp") no-repeat center center;

    @include light-transparency-bg;
  }

  h1 {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .score {
    font-family: $f-bodega-sans;
    font-size: var(--font-size-28);
    color: $c-brown-rust;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .actions-buttons {
    display: flex;
    flex-direction: row;
    gap: var(--big-gap);
  }
}
