&.agent-test-window {
  .window-content {
    background: url("../images/ui/blueprint.webp") no-repeat center center;

    @include light-transparency-bg;
  }

  h1 {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
  }

  h2 {
    margin-top: var(--small-gap);
    margin-left: auto;
    margin-right: auto;
  }

  .score {
    font-family: var(--f-bodega-sans);
    font-size: var(--font-size-28);
    color: var(--c-brown-rust);
    background-color: rgba(255, 255, 255, 0.7);
  }

  .actions-buttons {
    display: flex;
    flex-direction: row;
    gap: var(--big-gap);
  }
}
