&.agent-test-window {
  .window-content {
    background: url("../images/ui/blueprint-h.webp") no-repeat center center;
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.6);
  }

  h1 {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .score {
    font-family: $f-bodega-sans;
    font-size: var(--font-size-28);
    color: $c-brown-rust;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .actions-buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  button {
    color: $c-gable-green;
    background-color: $c-manhattan;
    border: 1px solid $c-gable-green;
    font-size: var(--font-size-16);
  }
}
