&.ask-test {
  .window-content {
    background: url("../images/ui/blueprint.webp") no-repeat center center;

    @include light-transparency-bg;

    select {
      height: initial;
    }

    .dialog-button {
      color: var(--c-gable-green);
      background-color: var(--c-manhattan) !important;
      border: 1px solid var(--c-gable-green) !important;
      font-size: var(--font-size-16);
    }
  }
}
