.cards-container {
  min-height: 220px;

  .card-container {
    padding: var(--small-gap) 0;

    &.excluded {
      border-radius: var(--small-gap);

      @include dark-transparency-bg;
    }
  }

  .card {
    height: 220px;
    border-radius: var(--card-radius);

    &.excluded {
      filter: grayscale(100%);
    }
  }
}

.card-suit-diamonds, .card-suit-hearts {
  color: var(--c-red);
}
