& {
  font-size: 1rem;

  .u-mt-small {
    margin-top: var(--small-gap);
  }

  .u-m-auto {
    margin: auto;
  }

  .u-gap-small {
    gap: var(--small-gap);
  }

  .u-strike {
    text-decoration: line-through;
  }

  h1 {
    font-family: var(--f-bodega-sans);
    letter-spacing: 1px;
    color: var(--c-brown-rust);
    border-bottom: none;
    text-transform: uppercase;
    font-weight: bold;

    .main {
      font-family: var(--f-masqualero-groove);
      border-bottom: none;
      @include goldy-gradient-text;
    }
  }

  h2, h3 {
    font-family: var(--f-bodega-sans);
    letter-spacing: 1px;
    color: var(--c-astronaut);
    border: none;
    width: fit-content;
  }

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid var(--c-astronaut);
    border-bottom: 1px solid var(--c-astronaut);
  }

  .action-btn {
    color: var(--c-gable-green);
    background-color: var(--c-manhattan);
    border: 1px solid var(--c-gable-green);
    font-size: var(--font-size-16);

    &[disabled] {
      background-color: var(--c-silver);
      cursor: not-allowed;
    }
  }

  .sheet-edit {
    z-index: 1;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
  }

  .sheet-tabs {
    border: none !important;

    @include light-transparency-bg;
  }

  .white-box {
    border: 2px solid var(--c-tan);
    padding: var(--small-gap);

    @include light-transparency-bg;
  }

  .blue-box {
    padding: var(--small-gap);

    @include blue-box;

    h2 {
      color: var(--c-white);
      font-family: var(--f-masqualero-groove);
      font-weight: normal;
      margin: auto;
      border: none;
    }
  }
}
