& {
  font-size: 1rem;

  .u-mt-small {
    margin-top: var(--small-gap);
  }

  .u-gap-small {
    gap: var(--small-gap);
  }

  .u-strike {
    text-decoration: line-through;
  }

  h1 {
    font-family: $f-bodega-sans;
    letter-spacing: 1px;
    color: $c-brown-rust;
    border-bottom: none;
    text-transform: uppercase;
    font-weight: bold;

    .main {
      font-family: $f-masqualero-groove;
      border-bottom: none;
      @include goldy-gradient-text;
    }
  }

  h2, h3 {
    font-family: $f-bodega-sans;
    letter-spacing: 1px;
    color: $c-astronaut;
    border: none;
    width: fit-content;
  }

  h2 {
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid $c-astronaut;
    border-bottom: 1px solid $c-astronaut;
  }

  .action-btn {
    color: $c-gable-green;
    background-color: $c-manhattan;
    border: 1px solid $c-gable-green;
    font-size: var(--font-size-16);
  }

  .sheet-edit {
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
  }

  .sheet-tabs {
    border: none !important;

    @include light-transparency-bg;
  }
}
