&.fetish-sheet {
  .window-content {
    background: none $c-gable-green;
    font-family: $f-masqualero-groove;
    color: $c-manhattan;
    font-size: 2rem;
    padding: 20px;

    align-items: center;
    justify-content: center;

    form {
      width: 100%;

      .fetish-wrapper {
        @include black-card-style;

        .fetish-image {
          padding: $padding-sm;
          max-height: 80%;

          img {
            max-height: 100px;
            object-fit: contain;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            border: none;
          }
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          input {
            color: $c-manhattan;
            width: 80%;
          }
        }
      }
    }
  }
}
