&.fetish-sheet {
  .window-content {
    background: none var(--c-gable-green);
    font-family: var(--f-masqualero-groove);
    color: var(--c-manhattan);
    font-size: 2rem;
    padding: var(--big-gap);

    align-items: center;
    justify-content: center;

    .fetish {
      width: 100%;
      height: 100%;

      .fetish-wrapper {
        @include black-card-style;

        .fetish-image {
          padding: var(--small-gap);
          max-height: 80%;

          img {
            max-height: 100px;
            object-fit: contain;
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            border: none;
          }
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          input {
            color: var(--c-manhattan);
            width: 80%;
          }
        }
      }
    }
  }
}
