.game-phase-window {
  &.small {
    .timer {
      margin: 0;
    }

    button > i {
      margin-right: 0;
    }
  }

  .breadcrumb {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;

    li {
      padding: 10px;
      display: inline;

      &.active {
        font-weight: bold;
        color: #ff0000;
      }
    }
  }

  .phase-details {
    margin: 20px 0;

    .duration {
      font-size: 1.3em;
    }

    .timer {
      text-align: center;
      font-size: 3em;

      &.finished {
        color: #ff0000;
        font-weight: bold;
        font-size: 2em;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    button {
      padding: 10px 20px;
    }
  }
}
