.phase-window {
  .breadcrumb {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;

    li {
      padding: 10px;
      display: inline;

      &.active {
        font-weight: bold;
        color: red;
      }
    }
  }

  .phase-details {
    margin: 20px 0;

    #timer {
      color: red;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;

    button {
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}
