&.game-phase-window {
  .window-content {
    background: url("../images/ui/queen-card.webp") no-repeat center center;
    color: var(--c-white);

    @include dark-transparency-bg;
  }

  .small {
    .timer {
      margin: 0;
    }

    button {
      padding: 0;

      & > i {
        margin-right: 0;
      }
    }
  }

  .breadcrumb {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    border-bottom: 2px solid var(--c-brown-rust);

    @include dark-transparency-bg;

    li {
      padding: 10px;
      display: inline;

      &.active {
        font-weight: bold;
        color: var(--c-brown-rust);
      }
    }
  }

  .phase-details {
    .duration {
      font-size: 1.3rem;
    }

    .timer {
      text-align: center;
      font-size: 3rem;

      &.finished {
        padding: 0 var(--small-gap);

        @include dark-transparency-bg;
      }
    }
  }

  .buttons {
    align-items: center;
    gap: var(--big-gap);
  }
}
