&.heist-sheet {
  .agent-card-wrapper {
    width: 75%;
    margin: auto;

    max-width: $c-card-width;
    position: relative;
    background: linear-gradient(90deg, $c-shadow 0%, $c-buff 50%, $c-shadow 100%);
    padding: 3px;

    .agent-card {
      background: $c-white;
      padding: 0.5rem;
      height: 100%;

      .remove-btn {
        position: absolute;
        right: 10px;
        top: 10px;
      }
    }
  }

  .agency-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .agency-member {
      width: $c-card-width;
      height: $c-card-height;

      &:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
      }

      &:nth-child(2) {
        grid-area: 1 / 3 / 2 / 4;
      }

      &:nth-child(3) {
        grid-area: 3 / 1 / 4 / 2;
        margin-top: - calc($c-card-height / 2);
      }

      &:nth-child(4) {
        grid-area: 3 / 3 / 4 / 4;
        margin-top: - calc($c-card-height / 2);
      }

      &:nth-child(5) {
        grid-area: 2 / 2 / 3 / 3;
        margin-top: - calc($c-card-height / 2);
      }
    }
  }
}
