&.heist-sheet {
  .window-content {
    background: url("../images/ui/blueprint.webp") no-repeat;
    overflow-y: auto;

    @include light-transparency-bg;
  }

  .delete-btn {
    position: absolute;
    right: var(--small-gap);
    top: var(--small-gap);
    gap: var(--small-gap);
  }

  .sheet-header {
    img {
      margin-right: 0;
      object-fit: contain;
    }

    h1 {
      margin: 0 var(--medium-gap);
      font-size: 32px;
      font-weight: normal;

      input {
        @include light-transparency-bg;

        height: 48px;
      }
    }

    .quick-actions {
      flex-wrap: nowrap;
      gap: var(--small-gap);
    }
  }

  .sheet-body {
    margin-top: var(--small-gap);

    .tab {
      height: 100%;
    }
  }

  .jokers {
    gap: var(--small-gap);

    .configurations {
      select {
        height: 26px;
      }
    }
  }

  .card-suit {
    max-width: 80px;
    height: 100px;
    background-color: var(--c-white);
    border: 1px solid var(--c-tan);
    border-radius: var(--small-gap);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    .overflowed {
      color: var(--c-red);
    }
  }

  .compromised {
    color: var(--c-old-brick);
  }

  .badge {
    padding: 4px var(--small-gap);
    background-color: var(--c-white);
    border: 1px solid var(--c-tan);
    border-radius: 4px;
  }

  .agent-image {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: var(--small-gap);
    }

    &.dead::before {
      background: linear-gradient(0deg, transparent 45%, var(--c-old-brick) 100%);
    }
  }

  .img {
    height: 125px;
    object-fit: contain;
    border: none;
    border-radius: var(--small-gap);
  }

  .jack {
    padding-top: 0;
    position: relative;

    .jack-name {
      width: fit-content;
      margin: var(--small-gap) auto;
    }
  }

  .agent-container {
    &.no-jack {
      height: 100%;
    }

    .no-jack {
      justify-content: center;
    }

    .agent-row {
      display: flex;
      justify-content: center;
      align-self: center;
      width: 85%;

      .agent {
        display: flex;
        flex-direction: column;
        flex: 1 1;
        min-height: 250px;

        position: relative;

        &.type-spade {
          background: url("../images/ui/spade.webp") no-repeat center center;
          background-size: contain;
          object-fit: contain;
        }

        &.type-heart {
          background: url("../images/ui/heart.webp") no-repeat center center;
          background-size: contain;
          object-fit: contain;
        }

        &.type-club {
          background: url("../images/ui/club.webp") no-repeat center center;
          background-size: contain;
          object-fit: contain;
        }

        &.type-diamond {
          background: url("../images/ui/diamond.webp") no-repeat center center;
          background-size: contain;
          object-fit: contain;
        }

        .agent-info {
          p {
            margin: 0.3em 0;
          }

          .agent-actions {
            gap: var(--small-gap);
          }
        }
      }
    }
  }

  .reconnaissance {
    .cards-container {
      .card {
        width: 98%;
      }
    }
  }

  .planning {
    .plan-editor {
      @include blue-box-bg;

      max-height: 13rem;
      overflow-y: auto;

      .editor {
        height: 100%;
        min-height: 11rem;

        &.prosemirror {
          height: 100%;
          padding: 0;

          menu {
            background: var(--c-brown-rust);
          }
        }

        .editor-container {
          .editor-content {
            min-height: 8rem;
          }
        }

        .editor-content {
          background: none;
          min-height: 11rem;
          padding: 0 var(--small-gap);
        }
      }
    }

    .credits-usage {
      .credit-value {
        font-size: 2rem;
      }

      .credit-label {
        border-top: 1px solid var(--c-gable-green);
      }
    }

    .planning-items {
      row-gap: var(--small-gap);
      overflow: hidden auto;
      max-height: 260px;

      .planning-actions {
        gap: var(--small-gap);
      }
    }
  }

  .progression {
    select {
      height: 26px;
      width: auto;
    }
  }
}
