&.skill-sheet {
  .window-content {
    background: none var(--c-gable-green);
    font-family: var(--f-masqualero-groove);
    color: var(--c-manhattan);
    font-size: 2rem;
    padding: var(--big-gap);

    align-items: center;
    justify-content: center;

    form {
      width: 100%;

      .skill-wrapper {
        @include black-card-style;

        div {
          @include magpies;

          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          input {
            color: var(--c-manhattan);
            width: 80%;
          }
        }
      }
    }
  }
}
