{{> (template "chat/agent-test/success.html.hbs")}}

<p><u>{{localize "HEIST.ChatMessage.ScoreToBeat"}}</u> <strong>{{scoreToBeat}}</strong></p>
<p><u>{{localize "HEIST.ChatMessage.AgentScore"}}</u> <strong>{{agentScore}}</strong></p>
