{{> (template "chat/agent-test/success.html.hbs")}}

<ul>
  <li><u>{{localize "HEIST.ChatMessage.ScoreToBeat"}}</u> <strong>{{scoreToBeat}}</strong></li>
  <li><u>{{localize "HEIST.ChatMessage.AgentScore"}}</u> <strong>{{agentScore}}</strong></li>
</ul>
