<h2>{{localize "HEIST.AgentTestWindow.Result.Title"}}</h2>

<p>{{localize "HEIST.ChatMessage.TestSuccessful" name=agent.name}}</p>

{{#if isBlackjack}}
  <p><strong>{{localize "HEIST.Blackjack.ItsABlackjack"}}</strong></p>
  <p>{{localize "HEIST.Blackjack.Explanations" name=agent.name}}</p>
{{/if}}
